.home-container {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

.job-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

.job-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.1);
}

.job-card h3 {
  margin-bottom: 10px;
}

.apply-btn {
  width: 100%;
  padding: 10px;
  background: #4a90e2;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.apply-btn:hover {
  background: #357ab7;
}
/* Search Bar */
.search-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-bar input {
  width: 70%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
}

.filter-btn {
  padding: 12px 16px;
  background: #4c8bf5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.25s;
}

.filter-btn:hover {
  background: #2768e5;
}
