.close-btn{
    background-color: rgb(184, 181, 181);
    border: none;
    padding: 5px;
    width: 50px;
    font-size: 25px;
    float: right;
}
.details-container{
    background-color: rgb(158, 158, 164);
    box-shadow: grey;
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
}
