.close-btn{
    background-color: rgb(184, 181, 181);
    border: none;
    padding: 5px;
    width: 50px;
    font-size: 25px;
    float: right;
}
.details-container {
    background-color: #e2e2e4;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding: 40px 50px;
    margin: 40px auto;
    border-radius: 20px;
    max-width: 800px;
    transition: 0.3s ease;
}

.details-container:hover {
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
    transform: translateY(-4px);
}

.apply-btn{
    width: 95px;
}